.navbar {
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-color: rgba(255, 255, 255, 1);
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    position: absolute;
    left: 0px;
    inset: 14px;
    height: 60px;
    border-radius: 30px;
    align-self: end;
    align-items: center;
    justify-content: start;
}

.icon > img {
    width: 6vw; /* Set a fixed width */
    height: 'auto'; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the entire space while maintaining aspect ratio */
    justify-content: space-between;
    padding: 1vh;
    margin-left: 2vh;
    align-self: center;
}

.navbar > p {
    font-size: 40px;
    opacity: 1;
    font-weight: 10;
}