.container {
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    height: 100vh;
}

.greeting {
    color:#1A535C;
    text-align: center;
    font-size: 50px;
}

.userText {
    text-decoration: none;
}

.header {
    background-color: #15535e;
    padding-top: 2px;
    padding-bottom: 18px;
    height: 10vw;
    border-radius: 40px;
    margin: 4vh 5vh 5vh 5vh;
    transition: 0.3s;
}

.header > p {
    font-size: 20;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;  
}

.header:hover {
    background-color: #033036;
    padding: 1%;
    cursor: pointer;
}

.streak {
    color: hsl(189, 66%, 14%);
}

.streak {
    font-size: 20px;
    margin: 0 auto;
}

.Unicorn {
    z-index: -10;
    position: relative;
    margin: -20% auto;
    max-height: 475px;
}
