.container {
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    height: 100vh;
}

.greeting {
    color:#1A535C;
    text-align: center;
    font-size: 50px;
}

.header {
    background-color: #4ECDC4;
    padding: 20px;
    border-radius: 40px;
    margin: 5vh;
    transition: 0.3s
    
}

.header:hover {
    background-color: #131313;
    padding: 2%;
}

.userText {
    font-size: 20;
    text-align: center;
    color: rgb(255, 255, 255);

}


.streak {
    font-size: 20px;
}

