body {
    background: linear-gradient(#95FFEC, #37A58A);
}

.Back {
    text-align: left;
    color: rgb(0, 0, 0);
}

.Label {
    color: rgb(11, 95, 99);
}

.Graph {
    justify-content: center;

}

p {
    font-size: 14pt;
    color: #0a4752
}

.prText {
    font-weight: bold;
    font-size: 14pt;
    color:#0a4752
}

.prContain {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7%;
    margin-top: 5%;
}