body {
    background: linear-gradient(#95FFEC, #37A58A);
}

.tasks-background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 40vh;
}

.task {
    background-color: white;
    padding: 2vw;
    margin: 2vw;
    border-radius: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 100px; */
}

.task > p {
    color: rgb(11, 95, 99);
}

.taskB {
    border: none;
    fill: none;
    background-color: rgba(0,0,0,0)
}
